<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cyber Weather</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/weather.css" />
</head>


<body class="bg-dark">
    <div class="container height-full">
        <div class="weather">
            <div class="weather__content text-center">
                <h1 class="title">Cyber Weather</h1>
                {{#if isSearch}}
                <section class="search">
                    <h1 class="place" id="place">{{region}}</h1>
                    <h2 class="country" id="country">{{country}}</h2>
                    <p class="temperature" id="temperature">{{temperature}}&deg;C</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <i class="fa fa-wind icon"></i>
                                <p class="result" id="wind">{{wind_speed}}</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-cloud-rain icon"></i>
                                <p class="result" id="rain">{{precip}}</p>
                            </div>
                            <div class="col-4">
                                <i class="fa fa-cloud icon"></i>
                                <p class="result" id="cloud">{{cloudcover}}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form action="/" class="form-search container">
                            <div class="input-group mb-3">
                                <input type="text" name="address" class="form-control input-search" placeholder="Vị Trí"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-search" type="submit" id="search">
                                        Tìm Kiếm
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                {{else}}
                <section class="not-search">
                    <div>
                        <form action="/" class="form-search container">
                            <div class="input-group mb-3">
                                <input type="text" name="address" class="form-control input-search" placeholder="Vị Trí"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-search" type="submit" id="search">
                                        Tìm Kiếm
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                {{/if}}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>

</html>